
<%= simple_form_for(@plano) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :nome %>
    <%= f.input :premio_mensal %>
    <%= f.input :papel %>
    <%= f.input :acomodacao %>
    <%= f.association :aseguradora %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
