
<%= simple_form_for(@organizacao, html:{class:'form-model '}) do |f| %>
  <div class="form-group">

    <h3>Dados da empresa</h3>

    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :slug %>
      <%= f.input :razao_social %>
      <%= f.input :cnpj %>
    </div>
  </div>
  <div class="form-group">
    <h3>Endereço</h3>
    <%= f.simple_fields_for :endereco do |endereco_form| %>
      <div class="row">
        <div class="col-sm-6 col-12">
          <%= endereco_form.input :logradouro %>
        </div>
        <div class="col-sm-2 col-12">
          <%= endereco_form.input :numero %>
        </div>
        <div class="col-sm-4 col-12">
          <%= endereco_form.input :bairro %>
        </div>
        <div class="col-sm-4 col-12">
          <%= endereco_form.input :cidade %>
        </div>
        <div class="col-sm-4 col-12">
          <%= endereco_form.input :estado %>
        </div>
        <div class="col-sm-4 col-12">
          <%= endereco_form.input :cep %>
        </div>
      </div>
    <%end %>
  

  <div class="form-actions">
    <%= f.button :submit , value: 'Salvar', class:'btn btn-primary' %>
  </div>
<% end %>

