
<%= simple_form_for(@organizacao, html:{class:'form-model '}) do |f| %>
  

    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  
  <div class="form-group">
    <h3>Responsável</h3>
    <%= f.simple_fields_for :user do |user_form|  %>
      <div class="row">
        <div class="col-sm-6 col-12">
          <%= user_form.input :email %>
        </div>
         <div class="col-sm-6 col-12">
          <%= user_form.input :phone %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-12">
          <%= user_form.input :first_name %>
        </div>
         <div class="col-sm-6 col-12">
          <%= user_form.input :last_name %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-12">
          <%= user_form.input :password %>
        </div>
      </div>
    <% end%>

        
  
  </div>
  <div class="form-group">
    <h3>Dados cadastrais</h3>
    <div class="form-inputs">
      <%= f.input :slug %>
      <%= f.input :nome_fantasia %>
      <%= f.input :razao_social %>
      <%= f.input :cnpj %>
      <%= f.input :inscricao_municipal %>
      <%= f.input :inscricao_estadual %>
    </div>
  </div>
  <div class="form-group">
    <h3>Endereço</h3>
    <%= f.simple_fields_for :endereco do |endereco_form| %>
      <div class="row">
        <div class="col-sm-6 col-12">
          <%= endereco_form.input :logradouro %>
        </div>
        <div class="col-sm-2 col-12">
          <%= endereco_form.input :numero %>
        </div>
        <div class="col-sm-4 col-12">
          <%= endereco_form.input :bairro %>
        </div>
        <div class="col-sm-4 col-12">
          <%= endereco_form.input :cidade %>
        </div>
        <div class="col-sm-4 col-12">
          <%= endereco_form.input :estado %>
        </div>
        <div class="col-sm-4 col-12">
          <%= endereco_form.input :cep %>
        </div>
      </div>
    <%end %>
  

  <div class="form-actions">
    <%= f.button :submit , value: 'Salvar', class:'btn btn-primary' %>
  </div>
<% end %>

