
<div class="container-fluid organizacao-container padding-margin"> 
  <p id="notice"><%= notice %></p>
  <h2>Informação da empresa</h2>
  <div class="row">
    <%= render 'organizacao_info_card'%>
  </div>
  <h2>Responsaveis</h2>
  <div class="row">
    <% @organizacao.users.each do |user|%>
      <div class="col-12 col-sm-4">
        <%= render 'organizacao_users_info_card', user: user %>
      </div>
    <% end%>
  </div>
  <div class="row">
    <h2>Beneficiarios</h2>
    <div class="container m-3 p-3 ">
      <%= link_to " Ver beneficarios", organizacao_beneficiarios_path(@organizacao), class: 'btn-lg btn-primary' %>
    </div>
  </div>


  <% if current_user.internal? %>
    <div class="row">
      <h2>Planos activos para empresa: <%= @organizacao.nome_fantasia %></h2>
      <div class="container m-3 p-3 ">
        <div class="row">
          <% @organizacao.planos.each do |plano| %>
            <%= render 'plano_card', plano: plano %>
          <% end %>
        </div>
        <%= link_to " Adicionar plano ", new_organizacao_organizacao_plano_path(@organizacao), class: 'btn-lg btn-primary' %>
      </div>
    </div>
  <% end %>

  <%= link_to back_button, organizacoes_path %>
</div>
