
<div class="container-fluid organizacao-container padding-margin"> 
  <p id="notice"><%= notice %></p>
  <h2>Informação da empresa</h2>
  <div class="row">
    <%= render 'organizacao_info_card'%>
  </div>
  <h2>Responsaveis</h2>
  <div class="row">
    <% @organizacao.users.each do |user|%>
      <div class="col-12 col-sm-4">
        <%= render 'organizacao_users_info_card', user: user %>
      </div>
    <% end%>
  </div>
  <div class="row">
    <h2>Beneficiarios</h2>
    <%= link_to "beneficarios", organizacao_beneficiarios_path(@organizacao) %>
  </div>


  <%= link_to back_button, organizacoes_path %>
</div>
