<p id="notice"><%= notice %></p>

<p>
  <strong>Slug:</strong>
  <%= @organizacao.slug %>
</p>

<p>
  <strong>Razao social:</strong>
  <%= @organizacao.razao_social %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @organizacao.cnpj %>
</p>

<%= link_to edit_button, edit_organizacao_path(@organizacao) %>
<%= link_to arrow_left_button, organizacoes_path %>
