<p id="notice"><%= notice %></p>

<div class="card">
  <div class="beneficio-info-card">
    <div class="card-body">
      <p>
        <h5 class='card-title'><strong>Beneficiario:</strong> <%= @beneficio.Beneficiario_id %></h5>
      </p>

      <div class="card-text">
        <p>
          <strong>Organizacaoplano:</strong>
          <%= @beneficio.OrganizacaoPlano_id %>
        </p>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_beneficio_path(@beneficio) %> |
<%= link_to 'Back', beneficios_path %>  
